/* Fuente importada de fonts.google*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,500;0,600;0,700;0,800;1,100;1,400;1,500;1,600;1,700;1,800&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/*@mixin utilizado en estilo*/
/* Header y navegación */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.logo {
  width: 150px; /* Ajusta el tamaño del logo según tus necesidades */
  height: auto;
}

nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

.title__header {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  width: 100%; }

  .navegacion {
    display: flex;
    justify-content: center;
    background-color: rgba(241, 177, 37, 0.925);
  }
  
  .navegacion .navegacion__estilo {
    font-size: 1.2rem; /* Reduzco el tamaño de fuente para mejorar la legibilidad */
    text-decoration: none;
    padding: 1rem;
    color: black;
  }
  
  .navegacion .navegacion__estilo:hover {
    background-color: rgba(240, 238, 236, 0.849);
    transition: background-color 0.5s;
  }

  /* Estilos específicos para el carrusel */
#carouselExampleIndicators {
  margin-top: 20px; /* Espacio superior */
}

.carousel-item img {
  border-radius: 10px; /* Bordes redondeados para las imágenes del carrusel */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  color: white; /* Color de los íconos de control */
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%; /* Ancho de los controles previo y siguiente */
  background-color: rgba(0, 0, 0, 0.5); /* Color de fondo para los controles previo y siguiente */
  border-radius: 50%; /* Hacer los controles redondos */
}

.carousel-indicators {
  bottom: -30px; /* Posición de los indicadores */
}

.carousel-indicators button {
  background-color: rgba(0, 0, 0, 0.5); /* Color de fondo de los indicadores */
  border: none; /* Sin borde */
  width: 10px; /* Ancho de los indicadores */
  height: 10px; /* Altura de los indicadores */
  margin: 0 5px; /* Margen entre los indicadores */
  border-radius: 50%; /* Hacer los indicadores redondos */
}

.carousel-indicators .active {
  background-color: rgba(0, 0, 0, 0.9); /* Color de fondo del indicador activo */
}

.btn-secondary {
  display: flex;
  width: 10%;
  justify-content: center; }

/* Botones */
.btn {
  font-size: 1.2rem; /* Reduzco el tamaño de fuente para mejorar la legibilidad */
  text-decoration: none;
  color: rgba(13, 13, 14, 0.747);
  background-color: rgba(241, 177, 37, 0.925);
  border: 4px solid #dfdbdb;
  border-radius: 20px;
  box-shadow: 5px 8px 12px #0f0e0e;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
  box-shadow: 13px 15px 37px black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

html {
  overflow-x: hidden; 
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(to bottom, #f1b125ec, #f1e3c3ec, #dfd4baec);
  overflow-x: hidden;
  height: 100vh; }

.border {
  border: 1px solid black; }

main {
  background-image: linear-gradient(to top, #f7f7f2ec, #f1b125ec, #dfd4baec); }

/* Footer e iconos */
footer {
  background-color: rgba(241, 177, 37, 0.925);
  display: flex;
  justify-content: center;
  align-items: center;
  
}

form {
  background-image: linear-gradient(to top, #f1b125ec, #f1e3c3ec, #dfd4baec);
  width: 100%;
  justify-content: center;
  text-align: center;
  padding: 3.75em;
  margin: 3px;
  border: 4px solid #f8f5f5; 
}

.formulario {
  display: flex;
  flex-direction: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin-top: 6rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  width: 100%; }

.boton__enviar {
  font-weight: bold;
  font-size: 1.6rem; }

.boton__elegir, .boton__provincia, .boton__centro {
  font-weight: bold;
  font-size: 1.2rem; }

.texto1 {
  text-align: center;
  font-weight: bold; }

.texto2 {
  text-align: center; }

.title {
  text-align: center;
  padding: 200px;
  background-image: url(../Imagenes/stock-photo-cropped-view-workman-electric-drill.jpg);
  font-size: 5rem;
  color: white; }

.Num {
  text-align: center;
  font-size: 5rem; }
  .Num:hover {
    transform: scale(1.1);
    box-shadow: 13px 15px 37px black; }

.card {
  background-color: rgba(241, 177, 37, 0.925);
  width: 70%;
  left: 20%; }
  .card:hover {
    transform: scale(1.1);
    box-shadow: 13px 15px 37px black; }

.imagen1:hover {
  transform: scale(1.1);
  box-shadow: 13px 15px 37px black; }

.imagen2:hover {
  transform: scale(1.1);
  box-shadow: 13px 15px 37px black; }

.imagen3:hover {
  transform: scale(1.1);
  box-shadow: 13px 15px 37px black; }

  .video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Proporción 16:9 para el video */
  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.mapa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  font-weight: bold;
  font-size: 1rem;
  color: #131212; }
  .mapa .container-mapas__img {
    margin-top: 4em;
    margin-bottom: 4em; }

#historia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  background-color: rgba(202, 199, 192, 0.493);
  font-size: 1.6rem;
  padding: 3rem; }

.row {
  margin-top: 2rem; }

.comprar {
  margin-top: 6rem;
  border: 6px solid #111111;
  margin: auto; }

.icons-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; 
}

.icon {
  display: inline-block;
  /*Makes the icons inline block level elements. This will let us animate the transform property.*/
  font-size: 2rem;
  animation: float 4s ease-in-out infinite;
  margin: 0 10px; /* Agrega un margen entre los iconos */
  /*Applies the float keyframe animation over 5s and makes it run infinitely.*/ }

/*
    The following styles will add linear gradient background to the text then it will clip the text shape into the background.
    The result is gradient text.
  */
.ri-instagram-line {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* This is the first item so no animation delay needed.*/ }

.ri-facebook-circle-line {
  color: #1877f2;
  animation-delay: 0.5s;
  /* Adds a animation delay of 1 seconds.*/ }

.ri-whatsapp-line {
  color: #25d366;
  animation-delay: 1s;
  /* Adds a animation delay of 2 seconds.*/ }

@keyframes float {
  0% {
    transform: translateY(0);
    /*The starting point of the animation is 0.*/ }
  50% {
    transform: translateY(-25px);
    /*The middle point of the animation is -15xp. This will move the element up.*/ }
  100% {
    transform: translateY(0);
    /*The last point of the animation is going back to the starting state of 0.*/ } }

/*el media query de todas las paginas. Hay que realizar algunas correcciones*/
@media screen and (max-width: 768px) {
  .logo {
    width: 100px; /* Ajusta el tamaño del logo para dispositivos móviles */
  }
  .navegacion .navegacion__estilo {
    font-size: 1rem; /* Reduzco el tamaño de fuente para dispositivos móviles */
  }
  .btn {
    font-size: 1rem; /* Reduzco el tamaño de fuente para dispositivos móviles */
  }
  .header {
    font-size: 10px; }
  .button__galeria {
    font-size: 12px; }
  /*Se bloquea 2 items de la pagina principal cuando se reduce a 768px*/
  .video {
    display: none; }
  .ayuda {
    display: none; }
  .descripcion {
    width: 100%;
    padding: 10px;
    margin: 20px; }
  #producto {
    margin-top: 10em; }
  .mapas__img {
    height: 20%;
    border: 2px solid black; }
  #historia {
    font-size: 18px; } }

    /* Ajustes responsivos */
@media screen and (max-width: 768px) {
  #carouselExampleIndicators {
    margin-top: 10px; /* Espacio superior reducido en dispositivos móviles */
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    width: 10%; /* Ancho de los controles previo y siguiente en dispositivos móviles */
  }
}